Repository yaakovLowenstein/simple-django-htmx: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, djlint

black:
  name: black
  entry: black
  language: system

djlint:
  name: djlint
  entry: djlint --profile=django --quiet --reformat
  language: system

Run pre-commit on all files
  .github/workflows/version.yml
  README.md
  pyproject.toml
  simple_django_htmx/apps.py
  simple_django_htmx/hx_requests.py
  simple_django_htmx/templates/simple_django_htmx/messages.html
  simple_django_htmx/templatetags/hx_tags.py
  simple_django_htmx/utils.py
  simple_django_htmx/views.py
Due: black, djlint

Add pre-commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

docs: Add badges to README
  README.md
Due: none

feat: Add redirect option
  simple_django_htmx/hx_requests.py
Due: black

Update README
  README.md
Due: none

Update readme
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  djlint: any of: \.(html|htm|xhtml)$
